.text1 {
    font-size: 35px;
    color: #071E3D;
    margin-bottom: 0px; 
    margin-top: -15px;
}

#formCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%; /* Garante que o grupo ocupe a largura do form */
}

.input-group .icone {
    transform: scale(60%);
    width: 50px;
    text-align: center;
}

.olho {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}
.olho img{
    transform: scale(55%);
}

#entrar {
    width: 200px;
    padding: 0;
    color: white;
    background-color: #071E3D;
    border: none;
    font-size: 20px;
    height: 50px;
    border-radius: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-top: 0px;
}

#entrar:hover {
    background-color: #1F4287;
}

.link-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Reduzido para um valor seguro */
    font-size: 18px;
}

/* --- Estilos para Telas Menores (Responsividade) --- */
@media (max-width: 768px) {
    .text1 {
        font-size: 28px; /* Título um pouco menor */
        margin-top: 0;
    }
    
    .input-group {
        margin-left: -15px; /* Reduz o recuo */
    }
    
    .link-voltar {
        flex-direction: column; /* Empilha o texto e o link */
        gap: 5px;
    }
}